input, label, select {
    display: block;
    margin: 10px;
}

#contenedor {
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#mensajes {
    background-color: #cdcdcd;
    padding: 10px;
}